* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

:root{
  color: var(--text-color-dark-mode, #FFF);
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background: url(assets/bg-mobile.jpg) no-repeat center/cover;
}
